.otherProductsContainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: scroll;
    overflow-y:visible;
    margin: 5px;
}

.content .otherProductsContainer {
    display: inline-block;
    white-space: nowrap;
    cursor: grab;
  }
  
   .content .otherProductsContainer:active{
    cursor: grabbing;
  }