.otherProductsContainer{
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    overflow-y:visible;
    margin: 5px;
}


.content .otherProductsContainer {
    display: inline-block;
    white-space: nowrap;
    cursor: grab;
  }
  
   .content .otherProductsContainer:active{
    cursor: grabbing;
  }

@media screen and (max-width: 678px){
    .otherProductsContainer{
        flex-direction: column;
        align-items: center;
    }
    .otherProductsContainer > *{
        width: 80%;
    }
}