.primaryNav{
position: relative;

}
.primaryNav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.3rem;
}
.primaryNav ul a{
    text-decoration: none;
}
.primaryNav span{
    transform: scale(1.2);
}