.cartItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cartItem img{
    width: 50px;
    aspect-ratio: 1;
}
.cartItem button{
    height: 30px;
    color: black;
}

/* sørger for at alt står lige i menuen*/
/* teksten til venstre i kurven. Skubber billedet helt ud til venstre side*/
.asd{
    margin-left: auto;
}
/* teksten til højre i kurven. Skubber knappen ud til højre side */
.zxc{
    margin-right: auto;
}